$background: hsl(212, 45%, 89%);
$component: hsl(0, 0%, 100%);
$font-primary: hsl(218, 44%, 22%);
$font-secondary: hsl(220, 15%, 55%);

body {
  background-color: $background;
  font-family: "Outfit", sans-serif;
}

h1 {
  color: $font-primary;
  font-weight: 700;
}

p {
  color: $font-secondary;
  font-size: 15px;
  font-weight: 400;
}
